 
*{  box-sizing: border-box; 
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
} 

body{background-color: rgb(250, 210, 230);}


/* -------------------------------------------------- NAV BAR ------------------------------------------------- */
nav{
    background: black;
    border-radius: 20px;
    padding: 1.5rem;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

nav ul {
    list-style: none;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    gap: o.2rem;
    /*justify-content: flex-end; */
}

nav ul p a {
    display: inline;
    background-color: black;
    color: white;
    font-size: 15pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;    
    display: block;
}

nav ul p a:hover{
    background-color: rgb(100, 94, 94);
    border-radius: 100px;
    cursor: pointer;
    transform: scale(1.2);
}




/* ------------------------------------------------------- H1 + MAIN + H2 ---------------------------------------- */
h1 {
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

main{
  margin-right: 4rem;
  margin-left: 4rem;
  justify-content: center;
  text-align: center;  
}

h2 {
    font-size: 20pt;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 3rem;
}





/* ----------------------------------------------------- FOOTER ---------------------------------------------- */
footer {
  margin-top: 4rem;
  background-color: black;
  line-height: 0.7;
  padding: 0.4rem;
  text-align: center;
}

footer a {
  background-color: black;
  color:white;
  font-size: 10pt;
  font-family: Arial, Helvetica, sans-serif;
}

footer p {
  background-color: black;
  color:white;
  padding: 0.3em;
  font-size: 10pt;
  font-family: Arial, Helvetica, sans-serif;
}





/* --------------------------------------------------- Home Page Background ----------------------------------------- */

.header{
  max-width: 100%;
  background-image: url(images/Fruit\ Laid\ Out.jpg);
  background-color: var(--white);
  background-size: cover;
  text-align: center;
  line-height: 10rem;
  margin-top: 1rem;
  

  
}








/* ------------------------------------------------- Home Page BOXES ----------------------------------------- */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  margin: 1rem; 
  flex-direction: column;
  align-items: center; 
  width: 100%;
  height: 100%;
  color: white;
  padding-top: 3rem;
  gap: 2rem;
  padding: 1rem;
}

.box {
  display: flex;
  align-items: center;
  background-color: hotpink;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 20px;
  padding: 1.5rem;
  overflow: hidden;
  font-size: 20pt;/* Keeps image corners inside radius if needed */
}

.box p, .box p a{
  background-color: hotpink;
  color: white;
  text-decoration: none;
}

.box p a{
  font-weight: bold;
}

.box p a{
   display: inline-block;
    font-size: 20pt;
    background-color: rgb(76, 61, 69);
    color: white;
    padding: 0.5rem;
    border-radius: 8px;
    text-decoration: none; 
    transition: transform 0.3s ease;
}

.box p a:hover{
    background-color: rgb(100, 94, 94);
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.3s ease; 
   transition: background-color 0.3s, transform 0.3s; 
}






.box img{
  display: grid;
  background-color: hotpink; 
  height: 250px; 
  max-width: 300px;
}


@media (max-width: 600px){
  .box {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

 .box{
    width: 100%;
 }            

  .box img {
    max-width: 200px; 
    margin: 0 auto;
  }
}



/* ----------------------------------------------------- HOME + Recipe Long Box ------------------------------------- */
.longbox{
    background: rgb(250, 180, 210);
    border-radius: 20px;
    padding: 1.5rem;
    /* box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2); */
    margin: 1rem;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}



.longbox ul {
    list-style: none;
    background-color: rgb(250, 180, 210);    
    /* background-color: black; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.longbox p{
    /* display: inline;*/
    background-color: rgb(250, 180, 210);
    color: white;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding-top: 0.5rem;
}

.longbox p a{
   display: inline-block;
    font-size: 20pt;
    background-color: hotpink;
    color: white;
    padding: 0.5rem;
    border-radius: 8px;
    text-decoration: none; 
    transition: transform 0.3s ease;
}

.longbox ul p a:hover{
    background-color: rgb(100, 94, 94);
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.3s ease; 
   transition: background-color 0.3s, transform 0.3s; 
}

/* --------------------------------------------------- About Page -------------------------------------------- */
.smoothie img{
  float: right;
  width: 400px;
  margin-top: -6rem;


}
.smoothie h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20pt;
  margin-left: 2rem;
}
.smoothie p{
  padding-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18pt;
  margin-left: 2rem;
}

#title{
  padding-top: 6rem;
  text-align: center;
  justify-content: center;
}

/* .info{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  color: hotpink;  
   
} */

/* .learn h2, .vms section{ 
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: aliceblue;
  
}

 .vms{
  background-color: aliceblue; */
  /* display: flex;
  flex-direction: column;
  flex: 1;
  background-color: hotpink;
  border-radius: 20px;
  overflow: hidden; */
/* }  */

 /* .vms h3{
  font-size: 20pt;
  background-color: lavender;

}

.vms p, .vms b{
  background-color: lavender;
}  */

.info {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 justify-content: center;
 /* background-color: lavender; */
 margin: 1rem;
 border-radius: 20px;
} 

.learn{
  justify-content: center;
  text-align: center;
  margin-left: 4rem;
  /* width: 200px;
  height: 300px;
  margin: 10px; */
  color: hotpink;
  /* font-size: 12pt; */
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: lavender; */
  border-radius: 20px;
}

.learn p, .learn b{
 /* margin-left: 1rem; */
 text-align: start;
 /* background-color: ; */

}
.learn h3{
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}






/* --------------------------------------------------- About Page Scroller -------------------------------------------- */
.scroller {
  display: flex;
  margin: 100px auto;
  width: 90%;
  border: 5px solid hotpink;
  
  border-radius: 20px;
  overflow-x: auto;
  gap: 1rem;

}
.scroller::-webkit-scrollbar{
  display: none;
}

.grid{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  animation: spin 45s infinite linear;
}

@keyframes spin {
  from{translate: 0;}
  to{translate: -100%;}
}

.card{
  width: 200px;
  height: 300px;
  margin: 10px;
  padding: 2rem;  
  color: hotpink;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lavender;
  text-align: center;
  border-radius: 8px;
  font-size: 2rem;
}

.card h3{
  font-size: 20pt;
  background-color: lavender;
  font-family: Arial, Helvetica, sans-serif;
}
.card p{
  margin-top: 1rem;
  font-size: 14pt;
  background-color: lavender;
  font-family: Arial, Helvetica, sans-serif;
}



/* ---------------------------------------------------- Recipe Page ---------------------------------------- */
.recipe {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
  margin: 2rem 10rem;
  background-color: transparent;
  margin-bottom: 2rem;
  
}

.happy, .happy2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: hotpink;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease; 
  transition: background-color 0.3s, transform 0.3s; 
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3)
}

.happy2 {
  background-color: rgb(250, 1, 130);
  transform: scale(1.1);
  /* transition: transform 0.3s ease; 
  transition: background-color 0.3s, transform 0.3s; */
}

.happy a, .happy2 a { 
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: white;
  background-color: transparent;
  padding-top: 3rem;
}

.happy2 a { 
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: white;
  background-color:  rgb(250, 1, 130);
  padding-top: 3rem;
  transform: scale(1.1);
}

.happy h2, .happy2 h2 {
  color: white;
  background-color: transparent;
  text-align: center;
  /* padding-bottom: 1rem; */
  margin-bottom: 1rem;
}

.happy2 h2 {
  color: white;
  background-color: rgb(250, 1, 130);
  text-align: center;
}

.happy img {
  display: block;
  height: 250px; 
  width: 300px; 
  max-width: 300px; 
  margin: -1rem 1.5rem 3rem 1.5rem;
  background-color: transparent;
}

.happy:hover, happy2:hover{
  cursor: pointer;
  background-color: rgb(250, 50, 150);
  transform: scale(1.1); 
}

@media (max-width: 800px) {
  .recipe {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  .happy, .happy2 {
    width: 100%;            
  }

    .happy img, .happy2 img {
    max-width: 80%;      
  }
}




img{
  width: 300px;
  max-width: 400px;
  height: auto;
  object-fit: cover;
  vertical-align: middle;
}

.wrapper, .wrapper2{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;
}

.wrapper2{
  flex-direction: row-reverse;
}

.one{
  flex: 1;
  min-width: 300px;
}

@media (max-width: 800px) {
  .recipes {
    flex-direction: column; 
    gap: 2rem;              
    margin: 0rem 2rem 2rem 2rem; 
  }
}




/* ---------------------------------------------- Food&Drink Recipe Page ----------------------------------------- */












/* ------------------------------------------------------- Quiz ------------------------------------------------- */
.quizbox{
  display: block;
  flex-wrap: wrap;
  padding: 2em;
  background-color: hotpink;
  border-radius: 20px;
  /* height: 200px; */

}





/* --------------------------------------------------------- GALLERY ------------------------------------------------- */
.gallery{
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.gallery p{
  font-size: 15pt;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: -1rem;
  margin-bottom: -3rem;
}

.gallery img{  
  align-items: center;
  min-height: 300px;
  min-width: 300px;
  border-radius: 1rem;
}

.gallery img:hover{
  cursor: pointer;
  transform: scale(1.1);
}






